body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    background-color: #3F72AF;
}
#count{
    font-size: 90px;
    font-weight: bold;
    color: #fff;
    background-color: #000
}
#text{
    font-size: 70px;
    font-weight: bold;
    text-decoration: underline;
}
.btns{
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 11px;
    border: black 4px solid;
    background-color: #fff;
    cursor: pointer;
}
.btns:hover{
    background-color: #222831;
    color: #EEEEEE;
}
@media screen and (max-width: 613px) {
    div{
        display: flex;
        flex-direction: column;
    }
}